@model BicycleModelsListModelView

@{
    ViewData["Title"] = "Index";
    //var Model = ViewBag.Model;
}

<h1>Моделі</h1>

<p>
    <a asp-action="Create">Додати нову</a>
</p>

<div class="container">
    <div>
        <form method="get">
            <div class="form-inline">
                <label class="control-label" style="margin:10px">Бренд: </label>
                @Html.DropDownList("brand", new SelectList(Model.Brands.OrderBy(s => s.BrandName), "Id", "BrandName").Append(new SelectListItem("Усі", null, true)),
                            htmlAttributes: new { @class = "form-control" })
                <label class="control-label" style="margin:10px">Категорія: </label>
                @Html.DropDownList("category", new SelectList(Model.Categories.OrderBy(s => s.CategoryName), "Id", "CategoryName").Append(new SelectListItem("Усі", null, true)),
                            htmlAttributes: new { @class = "form-control" })
                <label class="control-label" style="margin:10px">Для кого: </label>
                @Html.DropDownList("gender", new SelectList(Model.Genders.OrderBy(s => s.GenderName), "Id", "GenderName", null).Append(new SelectListItem("Усі", null, true)),
                            htmlAttributes: new { @class = "form-control" })
                <label class="control-label" style="margin:10px">Рік: </label>
                @Html.DropDownList("year", new SelectList(Model.BicycleModels.Select(s => s.ModelYear).Distinct().OrderByDescending(y => y)).Append(new SelectListItem("Усі", null, true)),
                            htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-inline">
                <label class="control-label" style="margin:10px">Вартість: </label>
                @Html.TextBox("minPrice", Model.BicycleModels.Min(m => m.Price), htmlAttributes: new { @class = "form-control", @type = "number", @style = "width:90px" }) -
                @Html.TextBox("maxPrice", Model.BicycleModels.Max(m => m.Price), htmlAttributes: new { @class = "form-control", @type = "number", @style = "width:90px" })
                <input type="submit" style="margin:10px" value="Фільтр" class="btn btn-outline-primary" />
                <a asp-action="Index" style="margin:10px" class="btn btn-outline-primary">Скинути</a>
                <input type="submit" asp-action="Export" value="Завантажити xlsx" class="btn btn-outline-primary"/>
                <input type="submit" asp-action="ExportDocx" value="Завантажити docx" class="btn btn-outline-primary"/>
            </div>

        </form>
    </div>
    <div class="row">
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.BicycleModels.FirstOrDefault().Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BicycleModels.FirstOrDefault().ModelName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BicycleModels.FirstOrDefault().ModelYear)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BicycleModels.FirstOrDefault().Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BicycleModels.FirstOrDefault().Brand)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BicycleModels.FirstOrDefault().Category)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BicycleModels.FirstOrDefault().Gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BicycleModels.FirstOrDefault().Image)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BicycleModels)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModelName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModelYear)
                            </td>
                            <td>
                                @if (item.Description != null)
                                    if (item.Description.Length >= 50)
                                        @(item.Description.ToString().Substring(0, 50)+"...")
                                        else
                                            @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Brand.BrandName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender.GenderName)
                            </td>
                            <td>
                                @if (item.Image != null)
                                {
                                    <img style='width:80px; height:60px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Image))" />
                                }
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Змінити</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a> |
                                <a asp-action="GoToBicycles" asp-route-id="@item.Id">Велосипеди</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
