@model IEnumerable<DbBicyclesLab.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Категорії</h1>

@if (User.IsInRole("admin"))
{
<p>
    <a asp-action="Create">Додати нову</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @if (item.Description != null)
                        @(item.Description.ToString().Substring(0, 50)+"...")
                </td>
                <td>
                    @if (User.IsInRole("admin"))
                    {
                    <a asp-action="Edit" asp-route-id="@item.Id">Змінити</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Деталі</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                    }
                    <a asp-action="GoToModels" asp-route-id="@item.Id">Моделі</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <div id="chart1"></div>
</div>

@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Charts/JsonBikeData', function (JsonBikeData) {
                data = google.visualization.arrayToDataTable(JsonBikeData, false);
                var option = {
                    title: "Співвідношення кількості моделей та категорій",
                    width: 500,
                    height: 400
                };
                chart = new google.visualization.BarChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>
}
