@model IEnumerable<DbBicyclesLab.Models.Brand>

@{
    ViewData["Title"] = "Index";
}

<h1>Бренди</h1>

@if (User.IsInRole("admin"))
{
<p>
    <a asp-action="Create">Додати новий</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dealer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="CommonDetails" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.BrandName)</a>
            </td>
            <td>
                @if (item.Description != null)
                    @(item.Description.ToString().Substring(0, 50)+"...")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dealer.DealerName)
            </td>
            <td>
                @if (item.Image != null)
                {
                    <img style='width:80px; height:60px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Image))" />
                }
            </td>
            <td>
                @if (User.IsInRole("admin"))
                {
                <a asp-action="Edit" asp-route-id="@item.Id">Змінити</a> 
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a> 
                }
                <a asp-action="GoToModels" asp-route-id="@item.Id">Моделі</a>
            </td>
        </tr>
}
    </tbody>
</table>
